*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inicio{
    background-image: url(imagenes/loginCP.jpg);
    height: 100%;
    background-size: cover;
}
.navbar{
    background-color: rgba(183, 11, 0);
}

.navbar aside{
    font-size: 30px;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    background-color: #2A4E89;
}

.fa-bars{
    color: white;
}

.container-fluid{
    margin-top: 200px;
    background-color: rgba(183, 11, 0, 0.5);
    text-align: center;
    padding: 50px;
    font-size: 20px;
    color: white;
    font-family:'Poppins', sans-serif;
}

.btn{
    background-color: #2A4E89;
    border-color: white;
    color:white;
}

.niveles{
    margin-top: 200px;
    text-align: center;
    color:white;
    font-family:'Poppins', sans-serif;
    background-color: rgba(183, 11, 0, 0.5);
}

.card{
    background-color: rgba(183, 11, 0, 0.5);
    color: white;
}

.titleStarter{
    color: white;
}

.titleFuncional{
    color: #2ea2cc;
}

.titleFitness{
    color:#a46497
}

.titleAdvanced{
    color:rgb(34, 2, 2);
}

footer{
    margin-top: 300px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    color:#fff;
    background-color: rgba(183, 11, 0);
    font-family: 'Poppins', sans-serif;
    
}

.redes a{
    color:#fff;
    letter-spacing: 30px;
    font-size: 20px;
}

.redes a:hover{
    color: #2e518b;
}

.inicioSesion{
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.registro{
    height: 1000px;
    width: 600px;
    border-radius: 10px;
}

h4{
    margin-top:20px
}

.clases{
    margin-top:200px;
    background-color:rgba(183, 11, 0,0.5);
    color:white;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

.inscripcionH2{
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
}

.table{
    color:white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.tr-fila:hover{
    color:white;
    text-align: center;
}

.registroH2{
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
}